/*=== TEMPLATE AREAS === */
.container2 {
  height: 100%;
  display: grid;
  grid-gap: 3px;
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: 50px auto 50px; 
  /*Visual Representation of the layouy.
  Ensure the same characters for columns and rows as above.
  In this example we have 12 columns and 3 rows
  Use a . for blank spaces
  */
  grid-template-areas:
    "h h h h h h h h h h h h"
    "m c c c c c c c c c c c"
    "f f f f f f f f f f f ."; 
}

.header {
  grid-area: h;
}
.menu {
  grid-area: m;
}
.content {
  grid-area: c;
}
.footer {
  grid-area: f;
}